.albym{
	  color: yellow;
}
.contact{
	margin-top: -60px;
	margin-left: 1300px;
	/*float:right;*/
}
.about{
	width:50px;
	color: white;	
}
.example{
	margin-top: 80px;
	text-align: center;
}
.para{
	font-size: 20px;
	font-family:Courier New;

}

